@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-size: 16px;
}

main {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: url("../images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

.content-intro > p:nth-child(1) {
    font-weight: 700;
}

.content-signup__try-btn button {
    font-weight: 500;
}

.content-signup__form form > button {
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        background-image: url("../images/bg-intro-mobile.png");
    }

    .content-intro {
        text-align: center;
        color: white;
    }

    .content-intro > p:nth-child(1) {
        font-size: 1.8rem;
    }

    .content-signup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}