@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-size: 16px;
}

main {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-image: url('../images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

.content-intro > p:nth-child(1) {
  font-weight: 700;
}

.content-signup__try-btn button {
  font-weight: 500;
  border: none;
  background-color: hsl(248, 32%, 49%);
  color: white;
  box-shadow: 0 8px 7px -2px rgba(7, 7, 7, 0.384);
}

#try-text {
  font-weight: bold;
}

.content-signup__form form > button {
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/bg-intro-mobile.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

  .content-intro {
    text-align: center;
    color: white;
  }

  .content-intro > p:nth-child(1) {
    font-size: 1.8rem;
  }

  .content-signup,
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-signup__try-btn {
    width: 80%;
    margin-bottom: 10px;
  }

  form {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
  }

  .content-signup__try-btn button {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 10px;
  }

  form,
  .content-signup__try-btn button {
    border-radius: 5px;
  }

  input,
  .content-signup__form button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  input[type='text']:nth-child(1) {
    margin-top: 10px;
  }

  input {
    border: 1px solid #c2c2c2;
  }

  .content-signup__form button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    box-shadow: 0 6px 4px -2px rgba(7, 7, 7, 0.801);
  }

  .content-signup__form-footer p {
    color: #c2c2c2;
    font-size: 12px;
    text-align: center;
  }

  #terms-and-services {
    color: red;
  }
}
